Warning: Entry urn:uuid:9d0a2c08-9e17-4dc5-b987-363db1accb16: Number of transcription readings (4) does not match number of claims (2).
{
    "entry_id": "urn:uuid:9d0a2c08-9e17-4dc5-b987-363db1accb16",
    "transcription": [
        {
            "reading": "antra",
            "evidence": null
        },
        {
            "reading": "ista",
            "evidence": [
                "N",
                "G",
                "Glaeser",
                "sqq."
            ]
        },
        {
            "reading": "ista",
            "evidence": null
        },
        {
            "reading": "antra",
            "evidence": [
                "P",
                "V",
                "edd. ante",
                "Glaeser"
            ]
        }
    ],
    "claims": [
        {
            "reading": {
                "sequence": [
                    {
                        "target": "urn:cts:latinLit:phi0830.phi001.dll:1.8@antra",
                        "value": "antra"
                    },
                    {
                        "target": "urn:cts:latinLit:phi0830.phi001.dll:1.9@ista",
                        "value": "ista"
                    }
                ]
            },
            "evidence": [
                "N",
                "G"
            ]
        },
        {
            "reading": {
                "sequence": [
                    {
                        "target": "urn:cts:latinLit:phi0830.phi001.dll:1.8@antra",
                        "value": "ista"
                    },
                    {
                        "target": "urn:cts:latinLit:phi0830.phi001.dll:1.9@ista",
                        "value": "antra"
                    }
                ]
            },
            "evidence": [
                "P",
                "V"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:390d0c28-f0c2-47a7-a75d-f0fd1b9d5601: Number of transcription readings (5) does not match number of claims (6).
{
    "entry_id": "urn:uuid:390d0c28-f0c2-47a7-a75d-f0fd1b9d5601",
    "transcription": [
        {
            "reading": "Leuce",
            "evidence": [
                "N",
                "G",
                "A",
                "P",
                "\u03c0",
                "\u03b5",
                "\u03c7"
            ]
        },
        {
            "reading": "lene",
            "evidence": [
                "\u03c6",
                "\u03b7",
                "\u03c1",
                "\u03bd",
                "\u03b8",
                "r",
                "s"
            ]
        },
        {
            "reading": "lance",
            "evidence": [
                "\u03b3",
                "\u03bc"
            ]
        },
        {
            "reading": "luce",
            "evidence": [
                "b"
            ]
        },
        {
            "reading": "lauce",
            "evidence": [
                "\u03bb",
                "\u03b4",
                "\u03b2"
            ]
        }
    ],
    "claims": [
        {
            "reading": "Leuce",
            "evidence": [
                "N",
                "G",
                "A",
                "P",
                "\u03c0",
                "\u03b5",
                "\u03c72"
            ]
        },
        {
            "reading": "leute",
            "evidence": [
                "\u03ba",
                "\u03b1",
                "\u03c71"
            ]
        },
        {
            "reading": "lene",
            "evidence": [
                "\u03c6",
                "\u03b7",
                "\u03c1",
                "\u03bd",
                "\u03b8",
                "r",
                "s"
            ]
        },
        {
            "reading": "lance",
            "evidence": [
                "\u03b3",
                "\u03bc"
            ]
        },
        {
            "reading": "luce",
            "evidence": [
                "b"
            ]
        },
        {
            "reading": "lauce",
            "evidence": [
                "\u03bb",
                "\u03b4",
                "\u03b2"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:0380e1d1-ab68-4b6d-855d-89803f846b88: Number of transcription readings (0) does not match number of claims (1).
{
    "entry_id": "urn:uuid:0380e1d1-ab68-4b6d-855d-89803f846b88",
    "transcription": [],
    "claims": [
        {
            "reading": null,
            "evidence": [
                "b"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:e2a07fea-bec4-4ffc-95d6-7c6400f35a5a: Number of transcription readings (2) does not match number of claims (3).
{
    "entry_id": "urn:uuid:e2a07fea-bec4-4ffc-95d6-7c6400f35a5a",
    "transcription": [
        {
            "reading": "mea",
            "evidence": [
                "\u03c1"
            ]
        },
        {
            "reading": "nova",
            "evidence": [
                "\u03bd",
                "\u03c6",
                "\u03b7",
                "\u03b8",
                "r",
                "s",
                "o",
                "n",
                "Burm.",
                "Beck"
            ]
        }
    ],
    "claims": [
        {
            "reading": null,
            "evidence": [
                "\u03c1"
            ]
        },
        {
            "reading": "mea",
            "evidence": [
                "A"
            ]
        },
        {
            "reading": "nova",
            "evidence": [
                "\u03bd",
                "\u03c6",
                "\u03b7",
                "\u03b8",
                "r",
                "s",
                "o",
                "n",
                "Beck"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:1bf943f0-c283-40f1-9a55-4c684199c699: Number of transcription readings (2) does not match number of claims (3).
{
    "entry_id": "urn:uuid:1bf943f0-c283-40f1-9a55-4c684199c699",
    "transcription": [
        {
            "reading": "O.",
            "evidence": [
                "P",
                "\u03c0",
                "\u03ba",
                "\u03c7",
                "\u03bb",
                "\u03b1",
                "Baehr.",
                "Schenkl",
                "r",
                "e",
                "l",
                "l",
                "codd.",
                "e",
                "t",
                "edd."
            ]
        },
        {
            "reading": "C.",
            "evidence": [
                "d"
            ]
        }
    ],
    "claims": [
        {
            "reading": "O.",
            "evidence": [
                "P",
                "\u03c0",
                "\u03ba",
                "\u03c7",
                "\u03bb",
                "\u03b1",
                "Baehr.",
                "Schenkl"
            ]
        },
        {
            "reading": null,
            "evidence": []
        },
        {
            "reading": "C.",
            "evidence": [
                "d"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:4be00ecf-ecdc-4e5e-ba79-3dc9c3ea12ff: Number of transcription readings (1) does not match number of claims (2).
{
    "entry_id": "urn:uuid:4be00ecf-ecdc-4e5e-ba79-3dc9c3ea12ff",
    "transcription": [
        {
            "reading": "captata",
            "evidence": [
                "G"
            ]
        }
    ],
    "claims": [
        {
            "reading": "captata",
            "evidence": [
                "G"
            ]
        },
        {
            "reading": "captate",
            "evidence": [
                "G"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:550c3b9a-2bf4-49b5-92aa-d71c880b912f: Number of transcription readings (2) does not match number of claims (1).
{
    "entry_id": "urn:uuid:550c3b9a-2bf4-49b5-92aa-d71c880b912f",
    "transcription": [
        {
            "reading": "quis",
            "evidence": []
        },
        {
            "reading": "qui",
            "evidence": [
                "N"
            ]
        }
    ],
    "claims": [
        {
            "reading": "qui",
            "evidence": [
                "N"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:5a773724-9732-4baa-a1e7-6ce6c8d3f400: Number of transcription readings (2) does not match number of claims (3).
{
    "entry_id": "urn:uuid:5a773724-9732-4baa-a1e7-6ce6c8d3f400",
    "transcription": [
        {
            "reading": "C.",
            "evidence": [
                "P",
                "\u03b1",
                "\u03b2",
                "\u03ba",
                "\u03c7",
                "\u03bb",
                "\u03c1",
                "\u03bc",
                "\u03c0",
                "\u03b4",
                "p",
                "Glaeser",
                "Keene",
                "Baehr.",
                "Schenkl"
            ]
        },
        {
            "reading": "\u00a7",
            "evidence": [
                "G",
                "N",
                "\u03b5",
                "\u03bd",
                "\u03c6",
                "\u03b3",
                "\u03b7",
                "edd."
            ]
        }
    ],
    "claims": [
        {
            "reading": "\u00a7",
            "evidence": [
                "G"
            ]
        },
        {
            "reading": null,
            "evidence": [
                "N",
                "\u03b5",
                "\u03bd",
                "\u03c6",
                "\u03b3",
                "\u03b7"
            ]
        },
        {
            "reading": "C.",
            "evidence": [
                "P",
                "\u03b1",
                "\u03b2",
                "\u03ba",
                "\u03c7",
                "\u03bb",
                "\u03c1",
                "\u03bc",
                "\u03c0",
                "\u03b4",
                "p",
                "Glaeser",
                "Keene",
                "Baehr.",
                "Schenkl"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:b61264a3-94b9-44ea-9a2a-5a84cc652da4: Number of transcription readings (2) does not match number of claims (1).
{
    "entry_id": "urn:uuid:b61264a3-94b9-44ea-9a2a-5a84cc652da4",
    "transcription": [
        {
            "reading": "tua",
            "evidence": []
        },
        {
            "reading": "tu",
            "evidence": [
                "d"
            ]
        }
    ],
    "claims": [
        {
            "reading": "tu",
            "evidence": [
                "d"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:81fbfdad-5999-42ff-ade9-5bde4dd90b12: Number of transcription readings (2) does not match number of claims (3).
{
    "entry_id": "urn:uuid:81fbfdad-5999-42ff-ade9-5bde4dd90b12",
    "transcription": [
        {
            "reading": "cortice",
            "evidence": [
                "N",
                "P",
                "V",
                "edd."
            ]
        },
        {
            "reading": "codice",
            "evidence": [
                "G",
                "A",
                "Schenkl"
            ]
        }
    ],
    "claims": [
        {
            "reading": "coice",
            "evidence": [
                "N"
            ]
        },
        {
            "reading": "codice",
            "evidence": [
                "G",
                "A",
                "Schenkl"
            ]
        },
        {
            "reading": "cortice",
            "evidence": [
                "N2",
                "P",
                "V"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:8521c41b-2ed8-41b7-a338-857bd09b40fa: Number of transcription readings (2) does not match number of claims (3).
{
    "entry_id": "urn:uuid:8521c41b-2ed8-41b7-a338-857bd09b40fa",
    "transcription": [
        {
            "reading": "O.",
            "evidence": [
                "G",
                "P",
                "\u03c6",
                "\u03b5",
                "\u03bc",
                "\u03ba",
                "\u03c7",
                "\u03c1"
            ]
        },
        {
            "reading": "C.",
            "evidence": [
                "N"
            ]
        }
    ],
    "claims": [
        {
            "reading": null,
            "evidence": [
                "\u03bb",
                "\u03c0",
                "\u03c11"
            ]
        },
        {
            "reading": "C.",
            "evidence": [
                "N"
            ]
        },
        {
            "reading": "O.",
            "evidence": [
                "G",
                "P",
                "\u03c6",
                "\u03b5",
                "\u03bc",
                "\u03ba",
                "\u03c7",
                "\u03c12",
                "\u03bd",
                "\u03b3",
                "\u03b1",
                "\u03b2",
                "\u03b7",
                "\u03b4"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:45b8835d-dde7-4946-9763-7079f603bdd6: Number of transcription readings (0) does not match number of claims (1).
{
    "entry_id": "urn:uuid:45b8835d-dde7-4946-9763-7079f603bdd6",
    "transcription": [],
    "claims": [
        {
            "reading": null,
            "evidence": [
                "G"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:c848207e-09f6-4f9a-8911-0b4f07823231: Number of transcription readings (2) does not match number of claims (3).
{
    "entry_id": "urn:uuid:c848207e-09f6-4f9a-8911-0b4f07823231",
    "transcription": [
        {
            "reading": "O.",
            "evidence": [
                "P",
                "\u03b1",
                "\u03b2",
                "\u03c0",
                "\u03ba",
                "\u03bd",
                "\u03c1",
                "\u03b5",
                "\u03c7",
                "\u03b3",
                "\u03c6",
                "\u03b4",
                "\u03b7",
                "edd.",
                "N",
                "\u03bb",
                "\u03bc"
            ]
        },
        {
            "reading": "C.",
            "evidence": [
                "G"
            ]
        }
    ],
    "claims": [
        {
            "reading": null,
            "evidence": [
                "N",
                "\u03bb",
                "\u03bc"
            ]
        },
        {
            "reading": "C.",
            "evidence": [
                "G"
            ]
        },
        {
            "reading": "O.",
            "evidence": [
                "P",
                "\u03b1",
                "\u03b2",
                "\u03c0",
                "\u03ba",
                "\u03bd",
                "\u03c1",
                "\u03b5",
                "\u03c7",
                "\u03b3",
                "\u03c6",
                "\u03b4",
                "\u03b7"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:f8b3ea41-1208-43d5-8313-9a09bbf8c574: Number of transcription readings (1) does not match number of claims (2).
{
    "entry_id": "urn:uuid:f8b3ea41-1208-43d5-8313-9a09bbf8c574",
    "transcription": [
        {
            "reading": "cogaudete",
            "evidence": [
                "N"
            ]
        }
    ],
    "claims": [
        {
            "reading": "cogaudete",
            "evidence": [
                "N"
            ]
        },
        {
            "reading": null,
            "evidence": [
                "N2"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:7b97350f-adf2-48be-9952-063d153a55f7: Number of transcription readings (0) does not match number of claims (1).
{
    "entry_id": "urn:uuid:7b97350f-adf2-48be-9952-063d153a55f7",
    "transcription": [],
    "claims": [
        {
            "reading": null,
            "evidence": [
                "N",
                "G"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:871369c8-25cb-4332-ae1b-5f7379e76323: Number of transcription readings (4) does not match number of claims (6).
{
    "entry_id": "urn:uuid:871369c8-25cb-4332-ae1b-5f7379e76323",
    "transcription": [
        {
            "reading": "vicit",
            "evidence": [
                "N",
                "P",
                "Glaeser",
                "sqq."
            ]
        },
        {
            "reading": "v\u012bcit",
            "evidence": [
                "G"
            ]
        },
        {
            "reading": "ludit",
            "evidence": [
                "V",
                "edd. ante",
                "Glaeser"
            ]
        },
        {
            "reading": "visit",
            "evidence": [
                "\u03bc",
                "\u03b3"
            ]
        }
    ],
    "claims": [
        {
            "reading": "v\u012bcit",
            "evidence": [
                "G"
            ]
        },
        {
            "reading": "ludit",
            "evidence": [
                "d"
            ]
        },
        {
            "reading": "lusit",
            "evidence": [
                "V"
            ]
        },
        {
            "reading": "visit",
            "evidence": [
                "\u03bc"
            ]
        },
        {
            "reading": null,
            "evidence": [
                "\u03b3"
            ]
        },
        {
            "reading": "vicit",
            "evidence": [
                "N",
                "P"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:977ed666-3756-4d91-9f2d-d7fe490c75f3: Number of transcription readings (3) does not match number of claims (4).
{
    "entry_id": "urn:uuid:977ed666-3756-4d91-9f2d-d7fe490c75f3",
    "transcription": [
        {
            "reading": "iulis",
            "evidence": [
                "N",
                "P",
                "G",
                "V",
                "r",
                "e",
                "u",
                "b",
                "d",
                "s",
                "g",
                "i"
            ]
        },
        {
            "reading": "iullis",
            "evidence": [
                "\u03bc",
                "\u03b3"
            ]
        },
        {
            "reading": "in ulnis",
            "evidence": [
                "A",
                "edd."
            ]
        }
    ],
    "claims": [
        {
            "reading": "iullis",
            "evidence": [
                "\u03bc"
            ]
        },
        {
            "reading": null,
            "evidence": [
                "\u03b3"
            ]
        },
        {
            "reading": "in ulnis",
            "evidence": [
                "A"
            ]
        },
        {
            "reading": "Iulis",
            "evidence": [
                "N",
                "P",
                "G",
                "V",
                "e",
                "u",
                "b",
                "d",
                "r",
                "s",
                "g",
                "i2",
                "l2",
                "Baehr.",
                "Schenkl"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:bc439016-5d16-4b3d-9bb7-2749ca42e4d1: Number of transcription readings (2) does not match number of claims (1).
{
    "entry_id": "urn:uuid:bc439016-5d16-4b3d-9bb7-2749ca42e4d1",
    "transcription": [
        {
            "reading": "deus",
            "evidence": []
        },
        {
            "reading": "reget",
            "evidence": [
                "G"
            ]
        }
    ],
    "claims": [
        {
            "reading": "reget",
            "evidence": [
                "G"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:8ce8da74-3d62-4b38-ac78-a6bc2a5e34aa: Number of transcription readings (1) does not match number of claims (2).
{
    "entry_id": "urn:uuid:8ce8da74-3d62-4b38-ac78-a6bc2a5e34aa",
    "transcription": [
        {
            "reading": "quaque",
            "evidence": [
                "G"
            ]
        }
    ],
    "claims": [
        {
            "reading": "quaque",
            "evidence": [
                "G"
            ]
        },
        {
            "reading": "qua",
            "evidence": [
                "G1"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:f856080e-56f6-4a74-a045-dcbc1f5339c1: Number of transcription readings (0) does not match number of claims (1).
{
    "entry_id": "urn:uuid:f856080e-56f6-4a74-a045-dcbc1f5339c1",
    "transcription": [],
    "claims": [
        {
            "reading": null,
            "evidence": [
                "V",
                "e",
                "d",
                "r",
                "s"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:bf9a7a3f-e6b6-40f9-b109-516575b716da: Number of transcription readings (3) does not match number of claims (0).
{
    "entry_id": "urn:uuid:bf9a7a3f-e6b6-40f9-b109-516575b716da",
    "transcription": [
        {
            "reading": "nullosque sui",
            "evidence": null
        },
        {
            "reading": "ducis",
            "evidence": null
        },
        {
            "reading": "ducum",
            "evidence": [
                "Heins."
            ]
        }
    ],
    "claims": [],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:33f5ff46-39db-45e2-a67e-d57c7a744802: Number of transcription readings (1) does not match number of claims (2).
{
    "entry_id": "urn:uuid:33f5ff46-39db-45e2-a67e-d57c7a744802",
    "transcription": [
        {
            "reading": "cargicarcere",
            "evidence": [
                "G"
            ]
        }
    ],
    "claims": [
        {
            "reading": "cargicarcere",
            "evidence": [
                "G"
            ]
        },
        {
            "reading": null,
            "evidence": [
                "G"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:769ca300-38ab-494c-91db-c5bc0f819da7: Number of transcription readings (1) does not match number of claims (0).
{
    "entry_id": "urn:uuid:769ca300-38ab-494c-91db-c5bc0f819da7",
    "transcription": [
        {
            "reading": "bella",
            "evidence": null
        }
    ],
    "claims": [],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:7ae6a99d-1ac1-499e-847f-283b984dd903: Number of transcription readings (2) does not match number of claims (0).
{
    "entry_id": "urn:uuid:7ae6a99d-1ac1-499e-847f-283b984dd903",
    "transcription": [
        {
            "reading": "quali",
            "evidence": null
        },
        {
            "reading": "qualis",
            "evidence": [
                "Burm."
            ]
        }
    ],
    "claims": [],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:b9262f6c-213b-4aaf-93d9-c38152a2eec1: Number of transcription readings (4) does not match number of claims (3).
{
    "entry_id": "urn:uuid:b9262f6c-213b-4aaf-93d9-c38152a2eec1",
    "transcription": [
        {
            "reading": "quae",
            "evidence": []
        },
        {
            "reading": "quum",
            "evidence": [
                "Beck"
            ]
        },
        {
            "reading": "ceu",
            "evidence": [
                "Baehr."
            ]
        },
        {
            "reading": "quam",
            "evidence": [
                "Barth",
                "Heins.",
                "Burm.",
                "Wernsd."
            ]
        }
    ],
    "claims": [
        {
            "reading": "quum",
            "evidence": [
                "Beck"
            ]
        },
        {
            "reading": "ceu",
            "evidence": [
                "Baehr."
            ]
        },
        {
            "reading": "quam",
            "evidence": [
                "Heins.",
                "Wernsd."
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:41239854-6502-43fb-a7ad-7429f6e7558d: Number of transcription readings (0) does not match number of claims (1).
{
    "entry_id": "urn:uuid:41239854-6502-43fb-a7ad-7429f6e7558d",
    "transcription": [],
    "claims": [
        {
            "reading": null,
            "evidence": [
                "\u03bb"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:d5e2ecfe-ca85-405c-b070-c310a2b9e511: Number of transcription readings (2) does not match number of claims (1).
{
    "entry_id": "urn:uuid:d5e2ecfe-ca85-405c-b070-c310a2b9e511",
    "transcription": [
        {
            "reading": "tamen",
            "evidence": []
        },
        {
            "reading": "palam",
            "evidence": [
                "Maehly"
            ]
        }
    ],
    "claims": [
        {
            "reading": "palam",
            "evidence": [
                "Maehly"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:dde31f24-8ecd-40e4-878f-d79c5286b89b: Number of transcription readings (3) does not match number of claims (1).
{
    "entry_id": "urn:uuid:dde31f24-8ecd-40e4-878f-d79c5286b89b",
    "transcription": [
        {
            "reading": "tacita",
            "evidence": [
                "P"
            ]
        },
        {
            "reading": "tacito",
            "evidence": null
        },
        {
            "reading": "tacite",
            "evidence": [
                "Beck"
            ]
        }
    ],
    "claims": [
        {
            "reading": "tacita",
            "evidence": [
                "P"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:814b01ce-26ad-4fa4-b855-b106ea2ab662: Number of transcription readings (4) does not match number of claims (3).
{
    "entry_id": "urn:uuid:814b01ce-26ad-4fa4-b855-b106ea2ab662",
    "transcription": [
        {
            "reading": "et inane",
            "evidence": []
        },
        {
            "reading": "etiamne",
            "evidence": [
                "\u03ba",
                "\u03bc",
                "\u03bd",
                "\u03b7",
                "\u03b4",
                "\u03b2",
                "\u03c6",
                "\u03c0"
            ]
        },
        {
            "reading": "etiamve",
            "evidence": [
                "\u03bb",
                "\u03c7"
            ]
        },
        {
            "reading": "nec inane",
            "evidence": [
                "d"
            ]
        }
    ],
    "claims": [
        {
            "reading": "etiamne",
            "evidence": [
                "\u03ba",
                "\u03bc",
                "\u03bd",
                "\u03b7",
                "\u03b4",
                "\u03b2",
                "\u03c6",
                "\u03c01",
                "\u03b8",
                "r",
                "s"
            ]
        },
        {
            "reading": "etiamve",
            "evidence": [
                "\u03bb"
            ]
        },
        {
            "reading": "nec inane",
            "evidence": [
                "d"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:47d7c870-9f74-4193-9528-770c46617032: Number of transcription readings (8) does not match number of claims (6).
{
    "entry_id": "urn:uuid:47d7c870-9f74-4193-9528-770c46617032",
    "transcription": [
        {
            "reading": "numquid",
            "evidence": [
                "G",
                "\u03b5",
                "\u03b3",
                "\u03c1",
                "edd."
            ]
        },
        {
            "reading": "dumquid",
            "evidence": [
                "N"
            ]
        },
        {
            "reading": "non quod",
            "evidence": [
                "P",
                "\u03ba",
                "\u03b2",
                "\u03bb",
                "\u03bc",
                "\u03c0",
                "\u03b4",
                "Barth"
            ]
        },
        {
            "reading": "non",
            "evidence": [
                "\u03b1"
            ]
        },
        {
            "reading": "non per",
            "evidence": [
                "\u03b7",
                "\u03c6",
                "\u03bd",
                "r",
                "s",
                "o",
                "n",
                "i"
            ]
        },
        {
            "reading": "non quae",
            "evidence": [
                "\u03c7"
            ]
        },
        {
            "reading": "non quoque",
            "evidence": null
        },
        {
            "reading": "nunc nec",
            "evidence": [
                "Burm."
            ]
        }
    ],
    "claims": [
        {
            "reading": "dumquid",
            "evidence": [
                "N"
            ]
        },
        {
            "reading": "non quod",
            "evidence": [
                "P",
                "\u03ba",
                "\u03b2",
                "\u03bb",
                "\u03bc",
                "\u03c0",
                "\u03b4"
            ]
        },
        {
            "reading": "non",
            "evidence": [
                "\u03b1"
            ]
        },
        {
            "reading": "non per",
            "evidence": [
                "\u03b7",
                "\u03c6",
                "\u03bd",
                "r",
                "s",
                "o",
                "n",
                "i1",
                "l1",
                "p",
                "t",
                "h",
                "Guid.",
                "Tit.",
                "Vienn.",
                "Kempfer"
            ]
        },
        {
            "reading": "non quae",
            "evidence": [
                "\u03c7"
            ]
        },
        {
            "reading": "numquid",
            "evidence": [
                "N2",
                "G",
                "\u03b5",
                "\u03b3",
                "\u03c1"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:d2da149b-930d-4af4-be73-d19f1f55d8e8: Number of transcription readings (2) does not match number of claims (3).
{
    "entry_id": "urn:uuid:d2da149b-930d-4af4-be73-d19f1f55d8e8",
    "transcription": [
        {
            "reading": "scilicet sedis",
            "evidence": [
                "N"
            ]
        },
        {
            "reading": "sed Deus",
            "evidence": [
                "G",
                "l",
                "e",
                "e",
                "s",
                "e",
                "r",
                "L. Mueller"
            ]
        }
    ],
    "claims": [
        {
            "reading": "scilicet sedis",
            "evidence": [
                "N"
            ]
        },
        {
            "reading": null,
            "evidence": [
                "N2"
            ]
        },
        {}
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:690262b7-ba76-4e20-86c2-0292f12bba05: Number of transcription readings (2) does not match number of claims (1).
{
    "entry_id": "urn:uuid:690262b7-ba76-4e20-86c2-0292f12bba05",
    "transcription": [
        {
            "reading": "Fauni",
            "evidence": []
        },
        {
            "reading": "Bacchi",
            "evidence": [
                "Heraldus"
            ]
        }
    ],
    "claims": [
        {
            "reading": "Bacchi",
            "evidence": [
                "Heraldus"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:c288e0f0-5ba5-4311-a3af-5d22af172bc2: Number of transcription readings (1) does not match number of claims (2).
{
    "entry_id": "urn:uuid:c288e0f0-5ba5-4311-a3af-5d22af172bc2",
    "transcription": [
        {
            "reading": "ipsa",
            "evidence": [
                "N",
                "G"
            ]
        }
    ],
    "claims": [
        {
            "reading": "ipsa",
            "evidence": [
                "N"
            ]
        },
        {
            "reading": null,
            "evidence": [
                "G"
            ]
        }
    ],
    "status": "count_mismatch"
}
Warning: Entry urn:uuid:15b0c884-8e8f-4ae5-8633-dbe2af2213ed: Number of transcription readings (8) does not match number of claims (9).
{
    "entry_id": "urn:uuid:15b0c884-8e8f-4ae5-8633-dbe2af2213ed",
    "transcription": [
        {
            "reading": "meliboeus",
            "evidence": [
                "\u03bd",
                "\u03b5"
            ]
        },
        {
            "reading": "melibeus",
            "evidence": [
                "G",
                "P",
                "\u03bb",
                "\u03c0",
                "\u03b4"
            ]
        },
        {
            "reading": "melibes",
            "evidence": [
                "N"
            ]
        },
        {
            "reading": "meiibaeus",
            "evidence": [
                "\u03c7",
                "\u03c6"
            ]
        },
        {
            "reading": "moelibeus",
            "evidence": [
                "\u03b7"
            ]
        },
        {
            "reading": "moeliboeus",
            "evidence": [
                "\u03b5"
            ]
        },
        {
            "reading": "maelibaeus",
            "evidence": [
                "\u03ba"
            ]
        },
        {
            "reading": "me libens",
            "evidence": [
                "\u03bc"
            ]
        }
    ],
    "claims": [
        {
            "reading": "meliboeus",
            "evidence": [
                "\u03bd",
                "\u03b52",
                "\u03c12"
            ]
        },
        {
            "reading": "melibeus",
            "evidence": [
                "G",
                "P",
                "\u03bb",
                "\u03c0",
                "\u03b41",
                "\u03b3",
                "\u03c11",
                "\u03b1",
                "\u03b2"
            ]
        },
        {
            "reading": "melibes",
            "evidence": [
                "N"
            ]
        },
        {
            "reading": "melibeus",
            "evidence": [
                "N3"
            ]
        },
        {
            "reading": "melibaeus",
            "evidence": [
                "\u03c7",
                "\u03c6"
            ]
        },
        {
            "reading": "moelibeus",
            "evidence": [
                "\u03b7"
            ]
        },
        {
            "reading": "moeliboeus",
            "evidence": [
                "\u03b51"
            ]
        },
        {
            "reading": "maelibaeus",
            "evidence": [
                "\u03ba"
            ]
        },
        {
            "reading": "me libens",
            "evidence": [
                "\u03bc"
            ]
        }
    ],
    "status": "count_mismatch"
}
